/* Button style */
.button {
    -fx-background-color: linear-gradient(to bottom, #d6c50a, #e8af2a); /* Faded gradient */
    -fx-text-fill: #090003; /* Text color */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-pref-height: 20px; /* Button height */
    -fx-pref-width: 100px; /* Button width */
    -fx-font-size: 13px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 10 10 10 10; /* Padding */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5); /* Subtle shadow */
    -fx-cursor: hand; /* Hand cursor on hover */
    -fx-transition: all 0.3s ease; /* Smooth transitions */
}

/* Hover effect */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #95ec15, #09e6e6); /* Reverse gradient on hover */
    -fx-effect: dropshadow(three-pass-box, rgb(195, 215, 230), 15, 0, 0, 10); /* Increased shadow on hover */
    -fx-scale-x: 1.05; /* Slight scale-up effect */
    -fx-scale-y: 1.05;
}

/* Pressed effect */
.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #eff6f8, #D50032); /* Slight color change on press */
    -fx-effect: dropshadow(three-pass-box, rgb(210, 227, 239), 8, 0, 0, 5); /* Reduced shadow on press */
    -fx-scale-x: 0.98; /* Slight scale-down effect */
    -fx-scale-y: 0.98;
}
